{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--TITULO-->
        <title>Rayo Makween</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--CSS BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        
        <!--CSS-->
        <link rel="stylesheet" href="{% static 'rayoapp/css/style.css' %}">
    </head>
      
    <body >
        
        <!--NAVEGADOR-->
        <nav class="navbar navbar-expand-md navbar-light fixed-top bf-light navbar-main">

        <div class="container">
        <!--LOGO-->
            <a href="#" class= "navbar-brand" >
                <img src="{% static 'rayoapp/img/logo.png' %}" width="80" height="50" alt="brand Rayo Makween"/>
            </a>


        <!--BOTON menu desplegable para aplicacion-->
            <button class="navbar-toggler" data-bs-toggler="collapse" data-bs-target="#mainnav" aria-controls="mainnav" aria-expand="flase" 
            aria-label="Barra de Navegacion">
            <span class="navbar-toggler-icon"></span>
            </button>

        <!--MENU-->
            <div class="collapse navbar-collapse" id="#mainnav"> 
                <div class="nav text-dark"> <!-- ms-auto para correr menu a la derecha-->
                    <a href="{% url 'home' %}" class="nav-link active">Inicio</a>
                    <a href="{% url 'mecanicos' %}" class="nav-link">Sobre Nosotros</a>
                    <a href="{% url 'servicios' %}" class="nav-link">Servicios</a>
                    <a href="{% url 'contacto' %}" class="nav-link">Contacto</a>
                    <a href="{% url 'formularios' %}" class="nav-link">Admin</a>
                    
                </div>
            </div>
        </div>
        </nav>


        <div class="container-general">
            <!--BUSCADOR-->
            <div id="busqueda">
                <form action="../../form-result.php" method="post" target="_blank">

                    <p>Buscador: <input type="search" name="busqueda" placeholder="Mecanicos, servicios...">
                    <input type="submit" value="Buscar">
                    </p>
                </form>
            </div>

            <!--INICIAR SESION-->

            <div id="login">
            <!-- BOTON INICIAR SESION -->
               
                <div id="loginContainer">
                    <a href="#" id="loginButton"><span>Login</span><em></em></a>
                    <div style="clear:both"></div>
                    <div id="loginBox">
                        <form class="login-form" id="loginForm">
                            <fieldset id="body">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="loginemail">Correo</label>
                                        <input type="email" name="loginemail" id="loginemail" required>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label for="loginPassword">Clave</label>
                                        <input type="password" name="loginPassword" id="loginPassword" required>
                                     </div>
                                </fieldset>
                                <div class="CTA">
                                    <input type="submit" value="Entrar" id="submit">
                                </div>
                                <label for="checkbox"><input type="checkbox" id="checkbox" />Recu&eacute;rdame</label>
                            </fieldset>
                            <span><a href="#">Perdiste tu contrase&ntilde;a?</a></span>
                        </form>
                    </div>
                </div>

                
                
            <!-- BOTON CREAR CUENTA -->
                <a href="{% url 'crear' %}">Crear cuenta</a>

            </div>
        </div>

    <!--SERVICIOS-->
    <section class="row justify-content-around text-center titulo servicios" id="servicios.html">
        <!--TITULO-->
        <h2 class="col-12 display-4 text-capitalize mb3">
            Nuestros Servicios
        </h2>
        <!--TIPO DE SERVICIOS-->
        <!--ELECTRONICA AUTOMOTRIZ-->
        <article class="col-10 col-md-10 col-lg-3 bg-white rounded shadow p-3 fw-light">
            <!--ICONO-->
            <img src="{% static 'rayoapp/img/icono1.png' %}" 
            alt="electronica" class=" bg-dangerbg-gradiend d-inline-bloc mb-3 icono-sercicios"/>

            <!--TITULO-->
            <h3 class="text-capitalize"> 
            Electronica Automotriz
            </h3>

            <!--DESCRIPCION-->
            <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

            <!--BOTON-->
            <a href="{% url 'mecanicos' %}#btnseba" class="btn btn-outline-danger"> Ir </a>
        </article>
        
        <!--CAJAS DE CAMBIO-->
        <article class="col-10 col-md-10 col-lg-3 bg-white rounded shadow p-3 fw-light">
            <!--ICONO-->
            <img src="{% static 'rayoapp/img/icono2.png' %}" 
            alt="cambio" class=" bg-dangerbg-gradiend d-inline-bloc mb-3 icono-sercicios"/>

            <!--TITULO-->
            <h3 class="text-capitalize"> 
            Cajas de Cambio
            </h3>

            <!--DESCRIPCION-->
            <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

            <!--BOTON-->
            <a href="{% url 'mecanicos' %}#btngina" class="btn btn-outline-danger"> Ir </a>
        </article>

        <!--SUSPENSION Y DIRECCION-->
        <article class="col-10 col-md-10 col-lg-3 bg-white rounded shadow p-3 fw-light">
            <!--ICONO-->
            <img src="{% static 'rayoapp/img/icono3.png' %}" 
            alt="suspencion" class="bg-dangerbg-gradiend d-inline-bloc mb-3 icono-sercicios"/>

            <!--TITULO-->
            <h3 class="text-capitalize"> 
            Suspension y Direccion
            </h3>

            <!--DESCRIPCION-->
            <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

            <!--BOTON-->
            <a href="{% url 'mecanicos' %}#btnalain" class="btn btn-outline-danger" > Ir </a>
        </article>

        <!--MANTENIMIENTO-->
        <article class="col-10 col-md-10 col-lg-3 bg-white rounded shadow p-3 fw-light">
            <!--ICONO-->
            <img src="{% static 'rayoapp/img/icono4.png' %}" 
            alt="mantenimiento" class="bg-dangerbg-gradiend d-inline-bloc mb-3 icono-sercicios"/>

            <!--TITULO-->
            <h3 class="text-capitalize"> 
            Mantenimiento
            </h3>

            <!--DESCRIPCION-->
            <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

            <!--BOTON-->
            <a href="{% url 'mecanicos' %}#btngabi" class="btn btn-outline-danger" > Ir </a>
        </article>

        </section>
    
    </div>




    <hr>
    <!--PIE DE PAGINA-->
    <footer class="bg-purple text-center p-4">
    &#169; Caffi Gaggero Hidalgo Maltrain 2021. All rights reserved.
    </footer>
    



   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous">
    </script>
    <script src="{% static 'rayoapp/js/login.js' %}"></script>
</body>
</html>
